# ---------------- docker-compose.yml ----------------
version: "3.9"
services:
  api:
    build: .
    container_name: virus_classification_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: always

# ---------------- locustfile.py ----------------
from locust import HttpUser, task, between

class VirusModelLoadTest(HttpUser):
    wait_time = between(1, 3)

    @task
    def predict_sample(self):
        """Send a sample prediction request"""
        with open("sample.jpg", "rb") as img:
            self.client.post(
                "/predict",
                files={"file": ("sample.jpg", img, "image/jpeg")}
            )
