fastapi
uvicorn
pillow
numpy
tensorflow
scikit-learn
python-multipart
opencv-python
matplotlib
pydantic

# PyTorch (Python 3.13 compatible)
torch==2.9.1+cpu
torchvision==0.24.1+cpu
torchaudio==2.9.1+cpu

--extra-index-url https://download.pytorch.org/whl/cpu
